# Currently, the only site supported is GMail
# Replace the variables below with your own personal credentials, then rename this file to credentials.py

USERNAME = 'USERNAME' 	# Replace with your own username
PASSWORD = 'PASSWORD'	# Replace with your own password
